<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Jogo de Adivinhação</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" rel="stylesheet" crossorigin="anonymous">

</head>
<body >
  <form method="post">
  <div class="container  bg-bd-indigo-600">
    <div class="d-flex justify-content-end row">
      <h1 class="display-4 col-10">Bem vindo ao Jogo: {{session.nome_usuario}}</h1>
      <div class="col-2 d-flex justify-content-end">
        <button class="btn btn-lg btn-outline-primary" name="logout" type="submit">Sair</button>
      </div>
    </div>
      <!--
          <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        -->

    <div>
      <div class="text-center -8" >
        <h1>Vamos lá. Tente adivinhar o número secreto entre 0 e 100:</h1> 
        <input type="text" class="form-control" name="palpite" id="floatingInput" autofocus placeholder="Insira um número">
      </div>
    </div>   
    <div class="d-flex  justify-content-center mt-8">

        
        <div class="alert alert-{{mensagem.type}} d-flex justify-content-end">
          <h3 class="">{{mensagem.msg}}</h3>
        </div>
      </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center ">
        <button class="btn btn-primary w-50 py-2 mt-5" name="envia_palpite" type="submit">Palpite</button>
      </div>
      
      <div class="mb-12 d-flex justify-content-center ">
        <button class="btn btn-danger w-50 py-2 mt-5" name="reset" type="submit">Reiniciar Jogo</button>

      </div>
      
      <div class="text-center mt-8">
        <h3> Tentativas: {{session.tentativas}}</h3>

      </div>
      <div class="d-flex justify-content-end container">
        <div class="col-6">
          <p class="mt-5 mb-3 text-body-secondary">© Criado por Yasmin Teixeira de Freitas</p>
        </div>

        <div class="card-body d-flex col-6 justify-content-end">
          <a href="/ranking" class="btn btn-custom mt-3">Clique aqui e confira o ranking!</a>
        </div>
      </div>
  </div>
  </form>
  </div>

</body>

</html>